<div class="jumbotron">
  <h2>TaskTime | Take control of your Tasks!</h2>
  <br>
  <h4>Trusted by Millions. TaskTime is the easiest to use Task Management App!</h4>
  <br>
  <%= link_to("Sign Up", new_user_registration_path , class: "btn btn-danger") %>
</div>